<div id="<%= dom_id contacts_form %>">
  <p>
    <strong>Name:</strong>
    <%= contacts_form.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contacts_form.email %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= contacts_form.theme %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contacts_form.message %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= contacts_form.status %>
  </p>

</div>
