<div id="<%= dom_id new_reponse %>">
  <p>
    <strong>Name:</strong>
    <%= new_reponse.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= new_reponse.phone %>
  </p>

  <p>
    <strong>Vk:</strong>
    <%= new_reponse.vk %>
  </p>

  <p>
    <strong>Name work:</strong>
    <%= new_reponse.name_work %>
  </p>

</div>
